In [27]:
import pandas as pd
df_sales=pd.read_csv("Advertising.csv",sep=",")
df_sales.drop(columns=["Unnamed: 0"],inplace=True)

In [28]:
df_sales.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [29]:
df_sales.isnull().sum()

TV           0
radio        0
newspaper    0
sales        0
dtype: int64

In [30]:
df_sales.dtypes

TV           float64
radio        float64
newspaper    float64
sales        float64
dtype: object

In [60]:
df_sales.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [61]:
df_sales.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [32]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.pairplot(df_sales)
plt.show()

In [34]:
df_sales.shape

(200, 4)

In [33]:
from scipy.stats import zscore
z=zscore(df_sales)
df_sales_x=df_sales.loc[(abs(z)<3).all(axis=1)]
print(df_sales_x.shape)

(198, 4)

In [36]:
#Lets check the skewnes
df_sales_x.skew()

TV          -0.082332
radio        0.114842
newspaper    0.650112
sales        0.407130
dtype: float64

In [38]:
import numpy as np
np.log(df_sales_x["TV"])

0      5.438514
1      3.795489
2      2.844909
3      5.020586
4      5.197391
         ...
195    3.642836
196    4.545420
197    5.176150
198    5.647565
199    5.447168
Name: TV, Length: 198, dtype: float64

In [39]:
df_sales_x.skew()

TV          -0.082332
radio        0.114842
newspaper    0.650112
sales        0.407130
dtype: float64

In [62]:
x=df_sales_x.drop(columns=["sales","radio","newspaper"])
y=df_sales_x[["sales"]]

In [63]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x, y,random_state =47,test_size=0.20)

In [65]:
lm=LinearRegression()

In [67]:
lm.fit(x_train,y_train)
pred =lm.predict(x_test)
r2_scr=r2_score(y_test,pred)
print("The predicted revenue from TV:",pred)
print("r2 score corresponding to is ",r2_scr)

The predicted revenue from TV: [[ 7.45689062]
 [17.20731589]
 [17.78581002]
 [10.47532371]
 [17.58520319]
 [10.57329449]
 [14.66940616]
 [10.53597229]
 [12.51871427]
 [11.93088959]
 [11.43170513]
 [18.12637512]
 [11.84224936]
 [ 7.66216273]
 [20.17909623]
 [ 8.77249824]
 [13.71769001]
 [ 9.30433962]
 [17.01137433]
 [16.37223162]
 [ 9.12705916]
 [17.30528667]
 [13.19517918]
 [ 7.96540562]
 [16.16695951]
 [19.44198274]
 [17.10001456]
 [11.23576357]
 [16.3395747 ]
 [10.13475861]
 [ 7.24228796]
 [10.24205995]
 [12.46273096]
 [14.11890368]
 [11.59965504]
 [11.58565922]
 [10.61528197]
 [10.56396394]
 [14.039594  ]
 [18.75618728]]
r2 score corresponding to is  0.6473579160277958

In [68]:
x=df_sales_x.drop(columns=["sales","TV","newspaper"])
y=df_sales_x[["sales"]]

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x, y,random_state =47,test_size=0.20)

In [71]:
lm.fit(x_train,y_train)
pred =lm.predict(x_test)
r2_scr=r2_score(y_test,pred)
print("The predicted revenue from radio:",pred)
print("r2 score corresponding to is ",r2_scr)

The predicted revenue from radio: [[19.51976745]
 [16.30281131]
 [17.20105231]
 [12.85607259]
 [11.01781194]
 [11.56093441]
 [15.90591413]
 [19.62421408]
 [12.37561811]
 [10.4955788 ]
 [18.39174387]
 [10.37024285]
 [15.48812762]
 [ 9.38844455]
 [17.57706017]
 [17.36816692]
 [15.42545964]
 [19.12287027]
 [18.28729724]
 [ 9.84800971]
 [17.5143922 ]
 [16.30281131]
 [13.14852315]
 [13.50364169]
 [19.26909555]
 [13.48275236]
 [14.23476808]
 [11.37293048]
 [15.69702087]
 [10.51646813]
 [11.72804901]
 [18.60063713]
 [10.91336532]
 [17.93217871]
 [10.89247599]
 [ 9.61822713]
 [ 9.47200185]
 [13.54542034]
 [ 9.57644848]
 [16.92949108]]
r2 score corresponding to is  0.30721551037636385

In [72]:
x=df_sales_x.drop(columns=["sales","TV","radio"])
y=df_sales_x[["sales"]]

In [73]:
x_train, x_test, y_train, y_test = train_test_split(x, y,random_state =47,test_size=0.20)

In [74]:
lm.fit(x_train,y_train)
pred =lm.predict(x_test)
r2_scr=r2_score(y_test,pred)
print("The predicted revenue from newspaper:",pred)
print("r2 score corresponding to is ",r2_scr)

The predicted revenue from newspaper: [[15.9826002 ]
 [15.33108034]
 [15.74642425]
 [13.45388874]
 [15.22928036]
 [13.17292081]
 [15.08268839]
 [14.78950446]
 [13.14848881]
 [14.32936856]
 [14.98496042]
 [13.88552065]
 [13.27064878]
 [13.97103263]
 [15.20077637]
 [15.59983228]
 [13.44167275]
 [13.27472078]
 [14.30493656]
 [13.79186467]
 [14.76507246]
 [14.76507246]
 [14.33751256]
 [13.62084071]
 [15.08268839]
 [12.94081686]
 [15.27407235]
 [14.38230455]
 [14.50446452]
 [13.91402465]
 [13.16070481]
 [14.37823255]
 [13.86923266]
 [15.31072035]
 [13.22178479]
 [14.1502006 ]
 [13.53125673]
 [14.25200057]
 [13.91809665]
 [15.87265623]]
r2 score corresponding to is  0.1175077397757831

In [ ]:
#Radio is proper news channel to generate more revenue